/* Globals */
:root {
  --font-sans: Muli, Helvetica, Arial, sans-serif;
  --color-secondary: #333;
  --color-link: #635ac7;

  font-family: var(--font-sans);
  font-weight: normal;
  line-height: 1.5;
}

body {
  margin: 0;
}

a {
  color: var(--color-link);
}

/* Snippets */
.site-header {
  padding: 2rem;
  text-align: center;
  opacity: 0;
}

.site-header__quote {
  color: var(--color);
  font-family: var(--font-sans);
  margin-left: auto;
  margin-right: auto;
  max-width: 460px;
}

.site-footer {
  padding: 3rem 0 0;
  color: var(--color);
  font-family: var(--font-sans);
  text-align: center;
  opacity: 0;
}
